language: bash
services: docker

env:
  - GDAL_VERSION=2.4.0 VARIANT=slim

script:
  - ./scripts/cibuild

deploy:
  - provider: script
    script: "scripts/cipublish"
    on:
      repo: azavea/docker-gdal
      branch: master
